doctype html
html
  head
    title= 'DI BBS'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-3.3.1.min.js')
  body
    h1= 'DI BBS'
    block content
