extends layout

block content
    h1= title
    p WRITE BBS!!!

    table
        thead
            tr
            - for key in Object.keys(userList[0])
                th= key
        tbody
        - for user in userList
            tr
            - for key in Object.keys(userList[0])
                td(class='col-td')= user[key]

    button(type='text', id='writeBBS')글쓰기

    script(type='text/javascript').
        $(document).ready(function() {
            $(document).on('click', '#writeBBS', function(e) {
                e.preventDefault();
                location.href = '/'

            });
        });