extends layout
block content
    table
        thead
            each key in Object.keys(userList[0])
                th= key
        tbody
            each user, i in userList
                tr(id= user.no)
                    each key in Object.keys(userList[0])
                        td(class='col-td')
                            - if (key === 'no')
                                span= i + 1
                            - else
                                span= user[key]


    button(type='text', id='writeBBS') 글쓰기

    script(type='text/javascript').
      $(document).ready(function () {

        $(document).on('click', 'table > tbody > tr', function(e) {
            e.preventDefault();
            var no = $(this).attr("id");

            location.href='/view/' + no
        });

        $(document).on('click', '#writeBBS', function (e) {
          e.preventDefault();
          location.href = '/'

        });
      });