body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 100%;
}

th {
  background-color: #00B7FF;
}

td.col-td {

}

textarea {
  width: 100%;
  min-height: 300px;
}
